@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
    background-color: white !important;
    color: #4C4C4C !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #4C4C4C !important;
}

